<div class="container">
  <div class="row login-wrapper">
    <div class="col-xs-12 col-md-12 col-lg-12">
      <div class="login-logo-container">
        <img
          src="../../../assets/icons/logo.png"
          srcset="
            ../../../assets/icons/logo@2x.png 2x,
            ../../../assets/icons/logo@3x.png 3x
          "
          class="logo"
        />
      </div>

      <mat-card-title class="application-name"
        >WhatsApp for Relationship Managers</mat-card-title
      >
    </div>
    <form class="login-form col-xs-12 col-md-12 col-lg-12">
      <div>
        <div class="input-field-container">
          <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput placeholder="Username" value="Username" />
          </mat-form-field>
        </div>
        <div class="input-field-container">
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" value="Password" />
          </mat-form-field>
        </div>
        <div class="col-xs-12">
          <button mat-flat-button class="login-button">SIGN IN</button>
        </div>
        <!-- <div class="col-xs-12">
          <button type="button" class="btn btn-primary login-button">
            SIGN IN
          </button>
        </div> -->
      </div>
    </form>
  </div>
</div>
