<div class="container">
  <div class="row login-wrapper">
    <div class="col-xs-12 col-md-12 col-lg-12">
      <div class="login-logo-container">
        <img
          src="../../../assets/icons/logo.png"
          srcset="
            ../../../assets/icons/logo@2x.png 2x,
            ../../../assets/icons/logo@3x.png 3x
          "
          class="logo"
        />
      </div>

      <mat-card-title class="application-name">
        WhatsApp for Relationship Managers
      </mat-card-title>
    </div>
    <div class="col-xs-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3">
      <form class="login-form" [formGroup]="loginForm">
          <div class="input-fields-container">
            <mat-form-field appearance="standard" class="material-input">
              <mat-label>Username</mat-label>
              <input matInput placeholder="Username" type="text" formControlName="email" required />
              <mat-error *ngIf="loginForm.controls.email.invalid">{{getEmailErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="standard" class="material-input">
              <mat-label>Confirm password</mat-label>
              <input matInput placeholder="Password" type="password" formControlName="password" required />
              <mat-error *ngIf="loginForm.controls.password.invalid">{{getPasswordErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="login-button-container col-xs-12 col-md-8 col-lg-8 offset-md-2 offset-lg-2">
            <button mat-flat-button class="login-button">SIGN IN</button>
          </div>
      </form>
  </div>
</div>
