<div class="sidebar-wrapper row">
  <div class="app-info-container">
    <img class="app-logo" src="../../../assets/logo.png" />
    <div class="app-name">WARM</div>
  </div>

  <div class="user-actions-container">
      <div class="user-action" ng-click="" matBadge="2" matBadgePosition="after">
        <img class="action-logo" src="../../../assets/logo.png">
            Chat
      </div>
      <div class="user-action" ng-click="" matBadge="2" matBadgePosition="after">
        <img class="action-logo" src="../../../assets/logo.png">
            Portfolios
      </div>
      <div class="user-action" ng-click="" matBadge="2" matBadgePosition="after">
        <img class="action-logo" src="../../../assets/logo.png">
            Logout
      </div>
  </div>
</div>
