<div class="chat-window-wrapper" >
    <div class="chat-header-container">
        <div class="user-information-container">
            <div class="client-name">Client Name</div>
            <div class="relationship-manager-name">Relationship Manager</div>
        </div>
        <div class="more-options-container">
            <img class="more-options-image" src=""/>
        </div>
    </div>
    <div class="chat-conversation-container">
      <div *ngFor="">
            <div class="chat-message-container">
                <div class="message-sender">

                </div>
                <div class="message-time">
                    
                </div>
                <div class="message-content">
                    
                </div>
            </div>
      </div>
    </div>
    <div class="send-message-container">
        <form class="message-form">
            <input class="message-input-field" placeholder="Type message">
            <button mat-stroked-button class="btn-block send-message-button">Send</button>
        </form>
    </div>
</div>