<div class="transactional-banker-home-wrapper container-fluid">
    <div class="sidebar-container col-sm col-md col-lg-2">
        <app-sidebar [menuItems]="menuActions"></app-sidebar>
    </div>
    <div class="conversation-bar-container col-xs-4 col-lg-3">
      <app-conversations-bar [activeConversations]="activeConversations"></app-conversations-bar>
    </div>
    <!-- <div class="chat-window-container col-xs-4">
      <app-chat-window [conversationMessages]="conversationMessages"></app-chat-window>
    </div> -->
    <div class="client-window-container col-xs-4 col-lg-7">
      <app-client-window [clientConversations]="clientConversations" client="clientInformation"></app-client-window>
    </div>
</div>
