<div class="transactional-banker-home-wrapper col-xs-12 col-md-12 col-lg-12">
    <div class="sidebar-container">
        <app-sidebar [menuItems]="menuActions"></app-sidebar>
    </div>
    <div class="conversation-bar-container col-xs-4">
      <app-conversations-bar [activeConversations]="activeConversations"></app-conversations-bar>
    </div>
    <div class="chat-window-container col-xs-4">
      <app-chat-window [conversationMessages]="conversationMessages"></app-chat-window>
    </div>
</div>
