.transactional-banker-home-wrapper{
    display: flex;
    flex-direction: row;
    height: 100%;
    
    .sidebar-container{

    }

    .conversation-bar-container{

    }

    .chat-window-container{

    }
}